* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}
canvas {
    position: absolute;
}
/*simple styling to define the vidoe sizes on the screen*/